/***** Common *****/
$color-bottom: #dee2e6;

* {
  color: #333;
  text-decoration: none;
  font-family: Arial, Helvetica, Tahoma, sans-serif;
}

body {
  margin: 0;
  padding: 0;

  a, a:hover {
    color: #000;
    text-decoration: underline;
  }

  .container {
    .row {
      padding: 10px 0;
    }
  }
}

.row div {
  padding: 0;
}

.btn {
  background: black;
  border-radius: 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}
.btn:hover {
  opacity: 0.8;
}


@media (max-width: 767px) {
  body {
    padding: 0 10px;
  }
}
/***** Common *****/


/***** Header *****/
header {

}

header .container .row {
  border-bottom: 1px solid $color-bottom;

  h1 {
    font-size: 40px;
    color: #555;
  }
  h1 a, h1 a:hover {
    text-decoration: none;
  }
  h2 {
    font-size: 16px;
    color: #333;
  }

  div.center {
    text-align: center;
  }
  div img {
    width: 100%;
  }

  @media (max-width: 767px) {
    div img.left {
      display: none;
    }
  }
}
/***** Header *****/


/***** Main *****/
main {
  padding-top: 20px;
  min-height: calc(100vh - 300px);

  .blockquote {
    margin-top: 3.5vw;
  }

  .form {
    height: 135px;
    border: 1px solid #999;
    text-align: center;
  }
  .form .list-unstyled {
    font-size: 24px;
  }

  .modal-content {
    padding: 10px;

    .modal-header {
      padding-top: 5px;
      border-bottom: none;
    }
    .form-group.label-contacts {
      text-align: left;
    }
  }

  .center-content {
    font-size: 40px;
    text-align: center;
    line-height: 28px;
  }
  .center-content li {
    padding-bottom: 25px;
  }

  @media (max-width: 767px) {
    .center-content {
      margin-top: 30px;
    }
  }
}
/***** Main *****/


/***** Footer *****/
footer {
  height: 160px;

  .top {
    padding-top: 15px;
    border-top: 1px solid $color-bottom;
  }

  .bottom div {
    padding-top: 5px;
    font-size: 14px;
    color: #999;
    text-align: center;
  }

  @media (max-width: 767px) {
    .top {

    }
  }
}
/***** Footer *****/


/***** Debug *****/
//.row div {
//  border: 1px solid $color-bottom;
//  -moz-box-sizing: border-box;
//  box-sizing: border-box;
//}
/***** Debug *****/
